body {
    font-family: Arial, sans-serif, Helvetica;
    padding: 30px;
}
legend {
    font-weight: bold;
}
div.tableContainer {
    display: table;
    border-spacing: 5px;
}
div.tableRow {
    display: table-row;
}
div.tableRow label {
    display: table-cell;
    text-align: right;
}
div.tableRow input {
    display: table-cell;
}
.tasklist {
    padding-left: 5px;
    padding-bottom: 6px;
    vertical-align: middle;
}
.gris {
    color: #a3a3a3;
}
.rouge {
    color: #b51111;
}
.bleu {
    color: #5c8aab;
}
.noir {
    color: #000000;
}
.vert {
    color: #16c800;
}
